@use '../base/variables' as var;
.ctn{
    width: 90%;
    margin: auto;
    max-width: var.$limit-width;
    &--principal{
        padding-top: 75px;
    }
    &--bottom{
        padding-bottom: 40px;
    }
}
#main{
    width: 100%;
}