@use '../base/functions' as fun;
@use '../base/mixin' as mix;

.ctm-fonts{
    h1, h2, h3, h4, h5, h6, p, a, li{
        color: fun.color('primary');
    }
    h1, h2, h3, h4, h5, h6, h1 span,
    h2 span, h3 span, h4 span, h5 span, h6 span{
        font-weight: 700;
    }
    h1, h1 span{
        font-size: 12vh;
    }
}
@media(max-width: fun.breakpoints('ipad-big')){
    .ctm-fonts{
        h1, h1 span{
            font-size: 6rem;
        }
    }
}
@media(max-width: fun.breakpoints('ipad-small')){
    .ctm-fonts{
        h1, h1 span{
            font-size: 4rem;
        }
    }
}